@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Lobster+Two&family=Cormorant+Garamond:wght@300&family=Open+Sans:wght@400;500;600;700&family=Racing+Sans+One&family=Rajdhani:wght@500&family=Roboto+Mono:wght@100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Rajdhani", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #f9fafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

.main-container {
  max-width: 1700px;
  margin: 0 auto;
  width: 90%;
}

.record__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media screen and (max-width: 1425px) {
  .record__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 972px) {
  .record__container {
    grid-template-columns: 1fr;
  }
}

.form__container {
  max-width: 600px;
  margin-top: 5em;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  padding-top: 2em;
  margin-bottom: 5em;
}

/* styles.css */
.input {
  border: 1px solid #ccc;
}

.input-invalid {
  border: 1px solid #e74c3c;
}
